.VirtualKeyboard {
    @include block;
    &__Key, &__Key--down{
        color: $darkTextColour;
        font-weight: bold;
        float: left;
        width: $baseLineHeight;
        height: $baseLineHeight * 4;
        padding: 0;
        background-color: $primaryHue;
        border: 1px solid $altBackgroundColour;
        &--down {
            background-color: $secondaryHue;
        }
    }
}