.App {
  text-align: left;
}

.App-header {
  @include block;
  background-color: $backgroundColour;
  border-bottom: $baseFontSize / 4 solid $altBackgroundColour;
  padding-top: $baseFontSize / 4;
}

.App-title {
  font-size: 1.5em;
  margin-top: $baseFontSize;
  padding: 0;
  color: $primaryHue;
  text-shadow: 0 0 3px $primaryHue;
  float: left;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-rhs {
  float: right;
  margin-top: $baseFontSize * 1.5;
  background-color: $backgroundColour;
  color: $lightTextColour;
}
