.App {
  text-align: left;
}

.App-header {
  background-color: $backgroundColour;
  border-bottom: $baseFontSize / 4 solid $altBackgroundColour;
  padding-top: $baseFontSize / 4;
}

.App-title {
  @include block;
  font-size: 1.5em;
  color: $primaryHue;
  text-shadow: 0 0 3px $primaryHue;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
