.RotaryKnob {
    // filter: drop-shadow( 0 0 1px $primaryHue );
    &__Track {
        // stroke: $primaryHue;
        // stroke-width: 2;
        fill: $primaryHue;
    }
    &__Value {
        stroke: $indicatorColour;
        stroke-width: 20;
        fill: none;
    }
    &__Outline {
        stroke: $primaryHue;
        stroke-width: 3;
        fill: none;
    }
    &__Outline--active {
        stroke: $indicatorColour;
        stroke-width: 3;
        fill: none;
    }
    &__label,
    &__Debug {
        @include preventSelection;
        font-size: $baseFontSize / 2;
        line-height: 1.2em;
        color: $indicatorColour;
        text-align: center;
        padding: 0;
        margin-top: -$baseFontSize / 4;
        margin-bottom: 0;
    }
}