@use 'variables' as *;
@use 'css/_normalize';
@use 'mixins';
@use 'elements';

@use 'components/App/App';
@use 'components/VirtualKeyboard/VirtualKeyboard';
@use 'components/ControlGroup/ControlGroup';
@use 'components/OscillatorControls/OscillatorControls';
@use 'components/RadioButton/RadioButton';
@use 'components/RangeControl/RangeControl';
@use 'components/RotaryKnob/RotaryKnob';
@use 'components/IconRadioButton/IconRadioButton';

.MidiInput {
  &__Label {
    color: $primaryHue;
  }
  &__Select {
    margin-left: $baseFontSize;
  }
}
/* TRUMPS */

.clear:after {
  content: "";
  display: table;
  clear: both;
}