$baseFontSize:   24px !default;
$baseLineHeight: 36px !default;
$baseFontFamily: sans-serif;
$veryDarkTextColour: #11100f;
$darkTextColour: #292426;
$mediumTextColour: #3d393b;
$lightTextColour: #e7e7e5;
$backgroundColour: #292426;
$altBackgroundColour: #201e1f;
$primaryHue: #34e2e2;
$primaryHueDarker: #16c6c9;
$secondaryHue: #ad7fa8;
$secondaryHueDarker: #75507b;
$indicatorColour: #f0516b;
$indicatorColourDarker: #a7253b;
$displayColour: #7fb514;
@import 'css/_normalize';

/* TOOLS */

@mixin block () {
  margin: $baseFontSize / 2;
  padding: $baseFontSize / 2;
  border: 1px solid $primaryHue;
}

@mixin preventSelection () {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

@mixin primaryButton () {
  @include preventSelection;
  margin: 0;
  padding: 0 $baseFontSize / 4;
  color: $darkTextColour;
  // box-shadow: 0 0 1px 1px rgba(81, 220, 230, 0.5);
  background-color: $primaryHue;
}

@mixin primaryButtonHover () {
  background-color: $primaryHueDarker;
}
@mixin primaryButtonDown () {
  color: $lightTextColour;
  background-color: $indicatorColour;
  // box-shadow: 0 0 1px 1px rgba(240, 81, 107, 0.5);
}

@mixin backgroundGradient() {
  background: linear-gradient(135deg, $veryDarkTextColour 0%,$darkTextColour 20%, $mediumTextColour 27%,$darkTextColour 35%,$veryDarkTextColour 100%);
}

/* ELEMENTS */
*,
input[type="search"] {
  box-sizing: border-box;
}

html{
  font: 400 1.5em/1.5 $baseFontFamily;
}

body {
  color: $mediumTextColour;
  background: $veryDarkTextColour;
  background: linear-gradient(147deg, #0e0e0e 100%, #292426 51%,#0e0e0e 100%)
}

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr{
  margin-bottom: $baseLineHeight;
  margin-bottom: 1.5rem;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 0.25rem
}

/* OBJECTS */

// Need a grid?

.column {
  float: left;
}

.pad-left {
  padding-left: $baseFontSize / 2;
}

@import 'components/App/App';
@import 'components/VirtualKeyboard/VirtualKeyboard';
@import 'components/ControlGroup/ControlGroup';
@import 'components/OscillatorControls/OscillatorControls';
@import 'components/RadioButton/RadioButton';
@import 'components/RangeControl/RangeControl';
@import 'components/RotaryKnob/RotaryKnob';
@import 'components/IconRadioButton/IconRadioButton';

.MidiInput {
  &__Label {
    color: $primaryHue;
  }
  &__Select {
    margin-left: $baseFontSize;
  }
}
/* TRUMPS */

.clear:after {
  content: "";
  display: table;
  clear: both;
}