$baseFontSize:   24px !default;
$baseLineHeight: 36px !default;
$baseFontFamily: sans-serif;
$veryDarkTextColour: #11100f;
$darkTextColour: #292426;
$mediumTextColour: #3d393b;
$lightTextColour: #e7e7e5;
$backgroundColour: #292426;
$altBackgroundColour: #201e1f;
$primaryHue: #34e2e2;
$primaryHueDarker: #16c6c9;
$secondaryHue: #ad7fa8;
$secondaryHueDarker: #75507b;
$indicatorColour: #f0516b;
$indicatorColourDarker: #a7253b;
$displayColour: #7fb514;